body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header {
    height: 10%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 99%;
    background: silver;
    border-radius: 15px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content {
    background: white;
    height: 85%;
    padding: 10px;
}

.m_edit img {
    position: relative;
    left: 40%;
    right: 40%;
    display: block;
}

#left_side, #right_side {
    width: 49.5%;
    height: 100%;
    background: silver;
    border-radius: 15px;
}

#left_side {
    float: left;
}

#right_side {
    float: right;
}

.caption {
    display: block;
    font-size: 2em;
    margin-top: 10px;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
}

.shop_item {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    background: white;
    color: silver;
    border-radius: 7px;
}

.shop_item img {
    margin: 3px;
}
.items, #items {
    width: 90%;
    height: 90%;
    margin: 5%;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    color: silver;
}

.tex, .edit {
    color: #524e4e;
    display: inline-block;
    height: 80px;
    margin-left: 5px;
    font-size: 1.3em;
    vertical-align: top;
    padding-top: 15px;
}

.tex {
    width: 73%;
    box-sizing: content-box;
}
.edit {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.edit i {
    margin-top: 13px;
    cursor: pointer;
}

.m_edit {
    color: #524e4e;
}

.menu_redac {
    background: white;
    display: inline-block;
    margin-left: 10px;
}

.startdate, .enddate, .date, #add_start_date, #add_end_date {
    width: 80px;
    margin: 10px;
}

.price, #add_price {
    width: 90px;
    margin: 10px;
}